@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 70px;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  backdrop-filter: blur(20px);
  background: rgba(245, 245, 247, 0.4);
  z-index: 999;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

body:has(.nav-child3:hover)::after {
  visibility: visible;
  opacity: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 70px;
  z-index: 1000;
}

.nav-child2,
.nav-child6 {
  position: relative;
}


.nav-child2:hover .nav-anchour,
.nav-child6:hover .nav-anchour,
.nav-child3:hover .nav-anchour{
  text-decoration: 4px solid underline rgb(143, 0, 254);
  text-underline-offset: 27px;
}

.dropdown a {
  text-decoration: none;
  color: #000;
}

.nav-child2:hover .dropdown,
.nav-child6:hover .dropdown,
.nav-child8:hover .region-menu{
  visibility: visible;
  opacity: 5;
}



.dropdown {
  position: absolute;
  list-style: none;
  top: 290%;
  left: 0;
  background-color: white;
  /* padding-right: 50px; */
  padding: 30px 80px 30px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* font-size: 14px; */
  /* font-weight: 400; */
  visibility: hidden;
  opacity: 0;
  text-wrap: nowrap;
  transition: all 0.2s ease;
  visibility: hidden;
  opacity: 0;
}

.nav-child3:hover .dropdown2 {
  visibility: visible;
  opacity: 1;
} 

.dropdown2 {
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px calc((100% - 1150px)/2);
  visibility: hidden;
  opacity: 0;
}

.dropdown2-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown2-child img {
  width: 170px;
}

.dropdown2-child-subchild a{
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #000;

}

.dropdown2-child2 a:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.dropdown2-child-subchild:nth-child(2),
.dropdown2-child2 p {
  font-size: 14px;
  color: rgb(111, 123, 133);
}

.region-menu {
  position: absolute;
  list-style: none;
  top: 200%;
  left: -20px;
  background-color: white;
  /* padding-right: 50px; */
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* font-size: 14px; */
  /* font-weight: 400; */
  visibility: hidden;
  opacity: 0;
  text-wrap: nowrap;
  transition: all 0.2s ease;
}
.region-menu li:nth-child(2),
.region-menu li:nth-child(3),
.region-menu li:nth-child(4),
.region-menu li:nth-child(5),
.region-menu li:nth-child(6),
.region-menu li:nth-child(7),
.region-menu li:nth-child(8) {
  background-color: rgb(246, 246, 250);
  padding: 5px 70px 5px 5px;
  border-radius: 20px;
}

.nav-child img {
  width: 140px;
}

.nav-anchour{
  text-decoration: none;
  color: rgb(24, 25, 31);
  font-size: 16px;
  font-weight: 500;
}

.nav-child7 a {
  padding: 5px 18px;
  background-color: rgb(109, 70, 219);
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  text-wrap: nowrap;
}

.nav-child8 {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(247, 247, 251);
  padding: 5px 15px 5px 30px;
  border-radius: 20px;
  gap: 10px;
  
}

.nav-child8 span {
  display: flex;
}

.region-label {
  text-decoration: none;
  color: rgb(24, 25, 31);
  font-weight: 500;
  font-size: 15px;
}
/* 
.region-menu {
  position: absolute;
  top: 100%;
  list-style: none;
  text-wrap: nowrap;
} */

.region-menu a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.nig-image {
  width: 25px;
  /* position: absolute; */
  /* top: 20%;
  left: 5px; */
}
.drop {
  width: 15px;
}

li img {
  width: 20px;
  margin-right: 10px;
}

/* select {
  padding: 5px 15px 5px 30px;

  border: none;
  border-radius: 20px;
} */

.hero-section {
  background-image: url(Images/herobackground.png);
  /* background-size: cover; */
  padding-top: 30px;
}

.hero-section-child {
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 100px;
  padding: 0 60px;
  color: #ffff;
}

.hero-section-subchild h2{
  font-size: 60px;
  font-weight: 700;
  text-wrap: nowrap;
  line-height: 73px;
  text-shadow: -5px 5px 0px rgb(74, 0, 132);
}

.hero-section-subchild p{
  font-size: 24px;
  font-weight: 300;
  margin: 40px 0;
}

.span1 {
  display: block;
}

.hero-section-subchild2 img{
  width: 400px;
  padding-bottom: 0px;
  margin-bottom: -10px;
  margin-left: 80px;
}

.hero-section-subchild-child2 img{
  width: 170px;
  height: 50px;
  margin-right: 10px;
}

.hero-section-subchild-child3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.license,
.deposits {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}

.license p,
.deposits p {
  font-size: 9px;
  font-weight: 400;
  margin-right: 10px;
}

.license img {
  width: 27px;
  /* height: 30px; */
}

.deposits img {
  width: 60px;
  height: 27px;
}

.hero-section-child2 {
  background-color: rgb(111, 6, 192);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-top: -70px; 
  position: relative;    /* I used position relative cause z-index only works on positined elemnts*/
  z-index: 1;   /* z-index basically allows this section stay above the image leg */
}

.hero-section-child2 img {
  width: 800px;
}

.centered-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1000px;
  width: 100%;
  /* flex: 1; */
}

.Earn-section {
  background-image: url(Images/backgroundimg2.png);
  background-size: cover;
  padding-top: 50px;
}

.Earn-section-child h3 {
  font-size: 49px;
  font-weight: 700;
  color: #490181;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 5px 3px rgb(214, 214, 214);
}

.Earn-section-child p {
  font-size: 26px;
  font-weight: 300;
  color: rgb(143, 0, 255);
}

.Earn-section-child2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.centered-content img {
  width: 460px;
}

.Earn-section-textcard {
  background-color: rgb(73, 1, 129);
  margin: 40px 0;
  padding: 30px 30px;
  color: #ffff;
  border-radius: 23px;
  box-shadow: -1px 10px  0 rgb(255, 215, 76);
}

.Earn-section-textcard h3{
  font-size: 21px;
  font-weight: 700;
}

.Earn-section-textcard p {
  font-size: 16px;
  font-weight: 700;
}

.stop-payment-section {
  background-color: rgb(240, 240, 255);
}

.stop-payment-section-child,
.interest-section-child {
  margin: 0 auto;
  max-width: 1210px;
  display: flex;
  width: 100%;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  padding: 120px 0;
}

.stop-payment-section-subchild {
  padding: 24px;
  text-align: left;
  flex: 1;
}


.stop-payment-section-subchild h3,
.intrest-payment-section-subchild2 h3,
.credit-payment-section-subchild2 h3{
  font-size: 50px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -1px;
  color: rgb(73, 1, 129);
  text-shadow: -1px 5px 2px rgb(216, 216, 229);
  /* margin: 45px 0 40px; */
  
}

.credit-payment-section-subchild2 {
  padding-left: 20px;
}

.p1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: rgb(73, 1, 129);
  margin: 60px 0;
  text-shadow: 0px 8px 3px rgb(205, 205, 218);
}

.stop-payment-section-subchild2,
.intrest-payment-section-subchild {
  object-fit: cover;
  width: 570px;
  height: 560px;
  border-radius: 50px;
}

.span2 {
  color: rgb(143, 0, 255);
}

.interest-section,
.download-section {
  background-image: url(Images/backgroundimg2.png);
}

.interest-section-child {
  text-align: right;
  /* justify-content: right; */
}

.stop-payment,
.interest {
  background-color: rgb(143, 0, 255);
  text-align: center;
  padding: 15px 70px;
  box-shadow: 7px 7px 0 rgb(255, 184, 0);
}


.credit {
  background-color: rgb(143, 0, 255);
  text-align: left;
  padding: 15px 70px;
  margin-top: 80px;
  box-shadow: 7px 7px 0 rgb(255, 184, 0);
  text-align: center;
}

.stop-payment-p2,
.interest-p1 {
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
  display: inline;
}

.intrest-payment-section-subchild2 {
  margin-left: 20px;
}

.coat-arm {
  width: 50px;
}

.naij-dpic {
  width: 100px;
}

.safe-space {
  background-color: rgb(248, 248, 255);
}

.safe-space-child {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  /* text-align: center; */
  padding-top: 50px;
  padding-bottom: 70px;
  align-items: center;
}

.safe-space-child h2 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(73, 1, 129);
  text-shadow: 2px 3px 0px rgb(209, 209, 214);
}

.safe-space-subchild {  
  display: flex;
  flex-direction: row;
  gap: 98px;
  margin: 40px 0;
}


.safe-space-subchild-child2,
.safe-space-subchild-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: rgb(77, 6, 131);
  font-family: "Montserrat", sans-serif;
  gap: 10px;
}

.safe-space-subchild2 {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align: center;
  color: rgb(77, 6, 131);
  gap: 50px;
  margin-top: 70px;
}

.safe-space-subchild2 h3 {
  font-size: 24px;
  font-weight: 700;
}

.safe-space-subchild2 p {
  font-size: 16px;
  font-weight: 25.6px;
}

.safe-space-subchild-child2-grandchild,
.safe-space-subchild-child2-grandchild2,
.safe-space-subchild-child2-grandchild3 {
  flex: 1;
  padding-bottom: 100px;
}

.safe-space-subchild-child2-grandchild2 {
  border-left: 2px solid rgb(77, 6, 131);
  border-right: 2px solid rgb(77, 6, 131);
  padding: 0 40px;
  height: 180px;
}

.rating-section {
  background-color: rgb(230, 197, 255);
  padding: 50px 0 70px 0;
}

.rating-section-child {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
}

.rating-section-child h3 {
  font-size: 40px;
  font-weight: 600;
  color: rgb(77, 6, 131);
  margin-bottom: 20px;
}

.p3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  color: rgb(77, 6, 131);
}

.rating-child-white-section {
  background-color: #fff;
  font-size: 14px;
  /* width: 460px; */
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  margin: 25px auto;
  padding: 40px 45px 90px 40px;
  border-radius: 60px;
}

.white-section-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.white-section-top img {
  width: 40px;
}

.white-section-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.white-section-middle img {
  width: 68px;
}

.download {
  display: flex;
  justify-content: center;
  gap: 90px;
}

.download img{
  width: 160px;
}

.download-section {
  padding-top: 30px;
}

.download-section-subchild {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  gap: 70px;
}

.download-section-img {
  width: 450px;
  /* height: 650px; */
  /* align-items: stretch; */
  flex: 1;
}

.download-section-subchild-child h2 {
  font-size: 43px;
  font-weight: 700;
  text-wrap: nowrap;
  font-family: "Montserrat", sans-serif;
  line-height: 55px;
  color: rgb(77, 6, 131);
  /* margin-bottom: 30px; */
}

.download-section-subchild-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.footer-head-parent {
  background-color: rgb(78, 43, 153);
  background-image: url(Images/footerimg.png);
  background-size: cover;
  background-position: right;
}
.footer-head {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  margin: 0 auto;
  width: 1200px;
  align-items: center;
  gap: 60px;

}

.footer-head h3 {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.footer-head-span {
  font-size: 40px;
  font-weight: 900;
  word-spacing: 3px;
}

.footer-head-img img{
  width: 150px;
  margin-right: 20px;
}

footer {
  background-color: rgb(30, 30, 30);
  padding: 40px 0;
}

.footer-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

.footer-child {
  display: flex;
  justify-content: space-between;
}

.footer-subchild a {
  color: rgb(217, 219, 225);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.footer-subchild h5 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(217, 219, 225);
}

.footer-subchild1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-subchild {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-subchild1 img:nth-child(1) {
  width: 120px;
}

.footer-subchild1 img:nth-child(2),
.footer-subchild1 img:nth-child(3),
.footer-subchild1 img:nth-child(4),
.footer-subchild1 img:nth-child(5),
.footer-subchild1 img:nth-child(6) {
  width: 150px;
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.socials img {
  width: 25px;
}

.year {
  color: rgb(217, 219, 225);
  font-size: 14px;
  font-weight: 400;
  margin: 30px 0;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(53, 53, 53);
}

.about-us {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  font-size: 14px;
  color: rgb(98, 98, 98);
  line-height: 24.22px;
}